venv/
AlvaDesc_*/
alvaDescCLIWrapper/
mopac_*/

# Python cache
__pycache__/
*.py[cod]

# Virtual env (jeśli używasz innej nazwy niż venv)
.env/
.venv/

# Logi i tymczasowe pliki
*.log
*.tmp
*.swp

# Pliki z IDE
.vscode/
.idea/


ISL.egg-info
.DS_Store
